extends layout
block content
  br
  form(method='post' class='bootstrap-frm')
    h1 Write Announcements
    label Title:
    input(type='text' name='title')
    label Content
    textarea(name='content')
    br
    input(type='submit' value='Submit')
    br
    br
    div #{isSaved}
  
  br
  h2 Current Announcements:
  form(method='post')
    each announcement in Announcements
      div 
        input(type='checkbox' name='selection' value='#{announcement.title}')
        strong Title: #{announcement.title}
        div(class='labAttributes')
          div #{announcement.content}
          br
    input(type='submit' value='Delete')