extends layout

block content
  br
  form(class='bootstrap-frm' method='post', enctype='multipart/form-data')
    h1 Create New Lab
    label Lab Name:
    input(type='text', name='lab_name')
    label Output:
    input(type='file', name='output', value='Intended Output')
    div *Note, please name output file with: labname.out
    br
    br
    label Runner (Optional):
    input(type='file', name='runner', value='New Runner')
    input(type='submit' value='Submit')
    br
    div #{message}
    div(class='error') #{error}