extends layout

block content
  form(method='post')
    input(name='new_grade', placeholder='Grade')
    input(name='new_period', placeholder='Period')
    input(name='new_teacher', placeholder='Teacher')
    input(name='new_first', placeholder='First Name')
    input(name='new_last', placeholder='Last Name')
    input(name='new_username', placeholder='New Username')
    input(name='new_password', placeholder='New Password', type='password')
    input(type='submit')
