extends layout
block content
  br
  form(method='post' class='bootstrap-frm')
    h1 Account Signup
      span Please complete each input field
    label First Name:
    input(name='first' type='text' required)
    label Last Name:
    input(name='last' type='text' required)
    label Period:
    select(required)
      option(name='1st' value='1st') 1st
      option(name='2nd' value='2nd') 2nd
      option(name='3rd' value='3rd') 3rd
      option(name='4th' value='4th') 4th
      option(name='5th' value='5th') 5th
      option(name='6th' value='6th') 6th
      option(name='7th' value='7th') 7th
      option(name='8th' value='8th') 8th
    label Teacher:
    input(name='teacher' type='text' required)
    label Class Name:
    input(name='class' type='text' required)
    label Grade:
    input(name='grade' type='text' required)
    label Username:
    input(name='username' type='text' required)
    label Signup Code:
    input(name='signupCode' type='text' required)
    label Password
    input(name='password' type='password' required)
    br
    input(type='submit')
