extends layout
block name 
  if name
    div(id='logged-in') Logged in as: #{name}
block content
  br
  form(method='post' class='bootstrap-frm')
    h1 Account Signup
      span Please complete each input field
    label First Name:
    input(name='first' type='text' required)
    label Last Name:
    input(name='last' type='text' required)
    label Period:
    select(required, name='period')
      option(value='1') 1st
      option(value='2') 2nd
      option(value='3') 3rd
      option(value='4') 4th
      option(value='5') 5th
      option(value='6') 6th
      option(value='7') 7th
      option(value='8') 8th
    label Teacher:
    select(required, name='teacher')
      option(value='Stephens') Stephens
      option(value='Mueller') Mueller
    label Class Name:
    select(required, name='class')
        option(value='AP Computer Science') AP Computer Science
        option(value='Computer Programming') Computer Programming
        option(value='Advanced Computer Programming') Advanced Computer Programming
        option(value='Web Apps') Web Apps
        option(value='Digital Electronics') Digital Electronics
    label Grade:
    select(required, name='grade')
      option(value='9') 9th
      option(value='10') 10th
      option(value='11') 11th
      option(value='12') 12th
    label Username:
    input(name='username' type='text' required)
    label Password
    input(name='password' type='password' required)
    label Signup Code:
    input(name='signupCode' type='text' required)
    br
    input(type='submit' value='Submit')
