extends layout
block content
  h2(id='announce') Announcements:
  each announcement in Announcements
    div(class='announcements')
      p #{announcement.title} 
        span #{announcement.date}
        div #{announcement.content}
  div(class='announcements')
    p This week in AP...
    p Announcement
    p Announcement