extends layout

block content
  form(method='post')
    input(type='text', name='teachers', placeholder='Teachers')
    input(type='text', name='numClassPeriods', placeholder='Number of Class Periods')
    input(type='text', name='classes', placeholder='Classes')
    input(type='submit' value='Submit')
