doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/create-new-user') CreateNewUser
    br
    a(href='/') /index
    br
    a(href='/list-users') ListUsers
    br
    a(href='/new-students') NewStudents
    br
    a(href='/upload') Upload
    br
    a(href='/login') Login
    br 
    block content