extends layout
block content
  br
  form(class='bootstrap-frm' method='post')
    if admin
      h1 Reset Students Password:
      label Username:
      input(type='text' name='username')
    if !admin
      h1 Reset Password:
    label New Password:
    input(type='password' name='password')
    br
    input(type='submit')
    br
    br
    div #{status}