extends layout
block content
  br
  if submissions
    form(method='get')
      each submission in submissions
        div 
          input(type='checkbox')
          strong Lab: #{submission.name}
          div(class='labAttributes')
            div Upload Date: #{submission.date}
            div Output: #{submission.stdout}
            div Correct:
      input(type='submit' value='Download')