extends layout

block content
  form(method='post', enctype='multipart/form-data')
    select(name='lab_name')
      option(value="") Lab Name
      each lab in labs
        option(value='#{lab.name}')=lab.name
    input(type='file', name='file')
    input(type='submit')
