html {
  background-color: #e9e9e9;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 70%;
  height: 100%;
  padding: 0px 10px 1px 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 7px;
}
h1 {
  text-align: center;
  padding-top: 10px;
}
#announcements {
  padding-top: 50px; 
}
#announcements>p {
  color: #222930;
  font-size: 16pt;
  line-height: .4;
}
#logged-in {
  position: absolute;
  z-index: 20;
  text-align: right; 
  width: inherit;
}

#cssmenu ul li ul li a.right {
  padding: 14px 0px 11px 20px;
  margin-right: -34px;
  margin-top: -5px;
}

#cssmenu ul li.forl {
  -webkit-border-radius: 7px; 
}

h3 {
  text-align: center;
}

.labAttributes {
  margin-left: 20px; 
}




/* #### bootstrap Form #### */
.bootstrap-frm {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 0px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: black;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
    color: black;
}
.bootstrap-frm label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="password"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    /*background: #FFF url('/images/down-arrow.png') no-repeat right;
    background: #FFF url('/images/down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;*/
    background: #FFF;
    text-indent: 0.01px;
    text-overflow: '';
    width: 74%;
    height: 35px;
}
.bootstrap-frm textarea{
    height:100px;
}
.bootstrap-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}